/* Ajoutez ceci à votre fichier style.css */
body {
    font-family: Arial, sans-serif;
}

.h1 {
    background-color: #ff75b5; /* Fond d'écran rose */
    overflow: hidden; /* Masquer tout ce qui dépasse du conteneur */
}

.scrolling-text {
    font-size: 80px;
    color: #00ff00; /* Texte vert */
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
    animation: scrollingAnimation 100s linear infinite; /* Définir l'animation du défilement */
    overflow: hidden;
}

 


.logo {
    width: 150px; /* Ajustez la taille de votre logo */
    height: 150px; /* Ajustez la taille de votre logo */
    border-radius: 50%; /* Pour un logo rond si nécessaire */
    /* Ajoutez d'autres styles pour personnaliser le positionnement et l'apparence du logo */
}

 

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; /* Mettez en gras les étiquettes pour plus de lisibilité */
}

input {
    width: 100%;
    padding: 10px; /* Ajustez la hauteur pour correspondre au padding des boutons */
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Ajout d'une bordure pour plus de contraste */
    border-radius: 10px;
}

a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold; /* Mettez en gras les liens pour plus de visibilité */
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px; /* Ajustez la taille des boutons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Ajout d'une transition pour un effet visuel au survol */
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    margin-top: 10px; /* Ajout d'un espace supplémentaire en haut du message d'erreur */
}